    body {
        /* padding-bottom: 30px; */
        padding-top: 60px;
        background: #C6E556 url(images/bg_top.png) top center no-repeat;
    }

    .theme-dropdown .dropdown-menu {
        position: static;
        display: block;
        margin-bottom: 20px;
    }

    .theme-showcase>p>.btn {
        margin: 5px 0;
    }

    .theme-showcase .navbar .container {
        width: auto;
    }
    /* main */

    a {
        color: #56026e;
        text-decoration: none;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .jumbotron {
        background-color: rgba(102, 102, 102, 0);
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .jumbotron h1 {
        font-size: 36px;
        margin-top: 6px;
        margin-bottom: -1px;
    }

    .jumbotron p {
        font-size: 18px;
    }

    .jumbotron_logo {}

    .jumbotron_tel {}

    .jumbotron_social {
        background: rgba(255, 255, 255, 0.48);
        border-radius: 16px;
        width: 160px;
        margin: 2px auto 26px auto;
        padding: 8px 0;
    }

    .jumbotron_social img {
        padding: 5px;
    }

    .transition_op {
        -webkit-transition: opacity .4s linear 0s;
        -moz-transition: opacity .4s linear 0s;
        -o-transition: opacity .4s linear 0s;
        transition: opacity .4s linear 0s;
    }

    @media (min-width: 992px) {
        .equal, .equal>div[class*='col-'] {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex: 1 0 auto;
            flex-direction: row-reverse;
        }
    }

    .nav-tabs {
        border-bottom: none;
        padding: 15px 0;
    }

    .nav-tabs>li {
        border: 4px solid #56026e;
        border-radius: 30px;
        margin-right: 10px;
    }

    .nav-tabs>li.active {
        background: #56026e;
        border: 5px solid #56026e;
    }

    .nav-tabs>li:hover {
        background: #56026e;
    }

    .nav-tabs>li:hover>a {
        color: #fff;
    }

    .nav-tabs>li>a {}

    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        background: none;
        border: none;
        color: #fff;
    }

    .nav-tabs>li>a:hover {
        background: none;
        border-color: rgba(5, 0, 0, 0);
    }
    /* others */

    .in_stock {}

    .block_stock {
        position: absolute;
        top: -77px;
        right: -85px;
        zoom: 0.8;
    }

    @media (max-width: 795px) {
        .block_stock {
            top: -97px;
            right: -35px;
        }
    }
    /* nav */

    .navbar-brand {
        height: 58px;
        padding: 0 15px;
    }

    .navbar-brand .logo_text {
        padding: 20px 0;
        color: #fff;
    }

    .navbar-inverse {
        background: #56026E;
    }

    .navbar-inverse .navbar-nav>li>a {
        color: #fff;
        font-size: 20px;
        -webkit-transition: background .4s linear 0s;
        -moz-transition: background .4s linear 0s;
        -o-transition: background .4s linear 0s;
        transition: background .4s linear 0s;
        background: rgba(102, 102, 102, 0);
    }

    @media (min-width: 768px) {
        .navbar-nav>li>a {
            padding: 19px 13px;
        }
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        color: #fff;
        background: #3B0E44;
    }

    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
        text-decoration: underline;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: #380048;
    }

    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        background: #3B0E44;
    }
    /* btn */

    .btn {
        -webkit-transition: background .4s linear 0s;
        -moz-transition: background .4s linear 0s;
        -o-transition: background .4s linear 0s;
        transition: background .4s linear 0s;
        background: rgba(102, 102, 102, 0);
        border-radius: 12px;
        padding: 6px 18px;
    }

    .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
        color: #56026e;
        background-color: #ffffff;
        border-color: #56026e;
    }

    .btn-default {
        color: #56026e;
        margin: 5px 6px;
        font-size: 20px;
        padding: 6px 58px;
        border: 2px solid #56026e;
    }

    .btn-default:hover {
        color: #fff;
        background-color: #8413A4;
        border-color: #56026e;
    }

    .btn-default.active, .btn-default:active {
        background: #430255;
        color: #fff;
    }

    .nav.navbar-nav .btn-info {
        transition: background .4s linear 0s;
        background: rgba(102, 102, 102, 0);
        border-color: #ffffff;
        color: #fff;
        margin: 8px 15px;
        font-size: 20px;
        padding: 6px 22px;
    }

    .nav.navbar-nav .btn-info:focus, .nav.navbar-nav .btn-info:hover {
        background-color: #65197B;
        color: #fff;
    }

    .nav.navbar-nav .btn-info:active {
        background: #430255;
    }

    .navbar-toggle {
        padding: 12px 10px;
        border-radius: 12px;
        border-color: #333;
    }

    .navbar-inverse .navbar-toggle {
        border-color: #fff;
    }
    /* blocks */

    .container_main h2 {
        margin-top: 0;
        font-size: 26px;
        padding-top: 15px;
    }

    .block01 {}

    @media (min-width: 767px) {
        .block01 .row>div[class*='block01_item'] {
            margin-bottom: 15px;
        }
    }

    .block01_item1 {
        background: white;
        float: right;
    }

    .block01_item1 h3 {
        margin-top: 7px;
    }

    .block01_item1_inner {
        border: 4px solid #56026e;
        margin: 15px 0;
        padding: 0px 15px 15px 15px;
    }

    p.block01_countdown {
        font-size: 40px;
    }

    .block01_item1_order {}

    .block01_item2 {
        background: #56026e;
        color: #fff;
        float: left;
        opacity: 0.8;
    }

    .block01_item2_inner {
        border: 4px solid #ffffff;
        margin: 15px 0;
        padding: 0 15px;
    }

    .block02 {
        background: #EAFBC1;
        margin: 0 15px;
    }
    /*.block02_header1 h2 {
        margin-top: 0;
        font-size: 26px;
        padding-top: 15px;
    }*/

    .block02_fea_img img {
        height: 180px;
    }

    .block02_fea_text {
        height: 40px;
        margin-bottom: 15px;
        font-size: 20px;
        padding-top: 3px;
    }

    .block02_item {
        margin-bottom: 15px;
        border: 2px solid #56006e;
        padding: 15px;
    }

    .block02_item1 {
        border-radius: 30px 0 0 30px;
    }

    .block02_item2 {}

    .block02_item3 {
        border-radius: 0 30px 30px 0;
    }

    .block03 {
        background: #EAFBC1;
        margin: 0 15px;
    }

    .block03_pic {
        height: 280px;
        width: 100%;
        background: #a8a8a8 url(images/pic_placeholder.png) center center no-repeat;
        background-size: cover;
    }

    .block03_pic_feedb {
        background: #a8a8a8 url(images/feedb_placeholder.png) center center no-repeat;
        height: 280px;
    }

    .block03_pic_team {
        background: #ffffff url(images/team_placeholder.png) center center no-repeat;
        height: 280px;
    }

    .block03_text_team h2 {
        font-size: 22px;
        padding-top: 0;
    }

    .block03_text {
        padding: 15px 0
    }

    .block03_container {
        padding: 0 30px;
    }

    .block03_container .row {
        box-shadow: 4px 6px 11px 0px rgba(0, 0, 0, 0.36);
        margin-bottom: 40px;
        background: #fff;
    }

    .block03_container .row div[class*=col-] {
        /* background: #fff; */
    }

    .block03_contact {}

    .block03_pic_contact {
        height: 360px;
    }

    .block04 {
        background: #EAFBC1;
        margin: 0 15px;
        padding-bottom: 15px;
    }

    .block04_pic {
        box-shadow: 4px 6px 11px 0px rgba(0, 0, 0, 0.36);
    }

    .block04_pic img {
        width: 100%;
    }

    .block05 {
        background: #EAFBC1;
        margin: 0 15px;
        /* padding-bottom: 15px; */
    }

    .block05_container {
        padding: 0 15px;
    }

    .block05_text {
        padding: 15px 0;
    }

    .block05_pic img {
        width: 100%;
    }

    .block05_container .row {
        box-shadow: 4px 6px 11px 0px rgba(0, 0, 0, 0.36);
        margin-bottom: 40px;
        background: #fff;
    }

    .row_contact {}

    .block05_contact_item {
        box-shadow: 4px 6px 11px 0px rgba(0, 0, 0, 0.36);
        margin-bottom: 40px;
        background: #fff;
        padding: 10px;
    }

    .block05_videos {}

    .block05_videos_item {
        margin-bottom: 30px;
        box-shadow: 4px 6px 11px 0px rgba(0, 0, 0, 0.36);
        background: #fff;
    }

    .block05_videos_item img {
        width: 100%;
    }

    .block05_pictures {}

    .block05_pictures_item {
        margin-bottom: 30px;
        box-shadow: 4px 6px 11px 0px rgba(0, 0, 0, 0.36);
        background: #fff;
        position: relative;
    }

    .block05_pictures_name {
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 0px;
        right: 0px;
        width: 80%;
        text-align: center;
        border: 1px solid black;
        border-radius: 15px;
        margin: 0 auto;
        font-size: 16px;
        padding: 10px;
    }

    .block05_pictures_item:hover .block05_pictures_name {
        opacity: 1;
    }

    .block05_pictures_item img {
        width: 100%;
    }

    .pre_footer_container {
        background: url(images/childs.png) bottom left no-repeat;
        height: 520px;
        padding-top: 100px;
        margin-top: -70px;
        z-index: 999;
        position: relative;
    }

    .pre_footer_social {
        background: rgba(255, 255, 255, 0.48);
        border-radius: 16px;
        width: 160px;
        margin: 2px auto 26px auto;
        padding: 8px 0;
    }

    .pre_footer_social img {
        padding: 5px;
    }

    footer {
        background: #56026e;
        color: #fff;
        padding: 15px;
    }

    footer .footer_tel {
        float: right;
    }

    footer .footer_tel .logo_tel {
        color: #fff;
    }
    /* global media */

    @media (min-width: 1200px) {
        .jumbotron .container_inner {
            width: 890px;
        }
        .container_main.container_inner {
            width: 920px;
        }
    }

    @media (max-width: 1200px) {
        .container_main.container_inner {
            width: 850px;
        }
        .block02_fea_img img {
            height: 180px;
        }
    }

    @media (max-width: 992px) {
        .container_main.container_inner {
            width: 631px;
        }
        .block02_fea_img img {
            height: 100px;
        }
        .pull-right {
            float: none!important;
        }
        .pre_footer_container {
            height: 430px;
            padding-top: 30px;
            margin-top: 0px;
            background-size: contain;
        }
    }

    @media (max-width: 767px) {
        body {
            background-size: contain;
            padding-top: 53px;
            background-position: center 58px;
        }
        .nav-tabs>li>a {
            font-size: 10px;
            padding: 8px 10px;
        }
        .theme-showcase .container_inner {
            /* padding-right: 0; */
            /* padding-left: 0; */
        }
        .navbar-header {
            padding-right: 0px;
            padding-left: 0px;
        }
        .container_main.container_inner {
            width: 100%;
        }
        .block01 {
            padding-top: 1vw;
        }
        p.block01_countdown {
            font-size: 36px;
        }
        .block02_item {
            padding: 5px;
        }
        .block02_fea_img img {
            width: 100%;
            height: auto;
        }
        .block02_fea_text {
            font-size: 2vw;
            height: 31px;
        }
        .block02_item1 {
            border-radius: 10px 0 0 10px;
        }
        .block02_item2 {}
        .block02_item3 {
            border-radius: 0 10px 10px 0;
        }
        .block03_pic_feedb {
            height: 27vw;
            border-radius: 100%;
            margin: 20px 5px;
            background-size: contain;
        }
        .block03_pic_team {
            height: 27vw;
            border-radius: 100%;
            margin: 20px 5px;
            background-size: contain;
        }
        .block03_text_team h2 {
            font-size: 16px;
            padding-top: 0;
        }
        .footer_container {
            padding: 0 0;
        }
    }

    @media (max-width: 360px) {
        .block02_fea_text {
            /* font-size: 9px; */
            height: 10px;
        }
        .pre_footer_container {
            background-size: contain;
            height: 300px;
            padding-top: 0px;
        }
    }
